:root {
    --date-text-color: #5F6E76;
    --background-color-sub-gray: #F5F7F9;
    --main-border: 1px solid #D2DAE0;
    --disable-color: #879298;
    --selected-color: #14212B;
    --maincontennNav-selected-color: #7890E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#header {
    margin-top: 50px;
}

#newsstand {
    width: 900px;
    margin: 0 auto;
}

#mainContentNav {
    background-color: var(--background-color-sub-gray);
    border-bottom: var(--main-border);
}

.mainContentNavElement {
    position: relative;
    display: inline-flex;
    padding: 16px 12px;
    margin: 0;
}

.absolute {
    position: absolute;
    z-index: 100;
}

#mainContentArticles {
    margin-top: 16px;
}

.mainContentNavProgress {
    animation-name: mainContentNavProgress;
    animation-duration: 20s;
    position: absolute;
    animation-timing-function: linear;
    background-color: #4b60c9;
    height: 100%;
    left: 0px;
    top: 0px;
}

#mainContentContainer {
    position: relative;
    height: 348px;
    overflow: hidden;
    white-space: nowrap;
}

#mainContentArea {
    position: absolute;

}

#mainContentArea.animationStartNext {
    animation-name: mainStartNext;
    animation-duration: 1s;
}

@keyframes mainStartNext {
    from {
        left: 0px;
    }

    to {
        left: -898px;
    }
}

#mainContentArea.animationStartPrevious {
    animation-name: mainStartPrevious;
    animation-duration: 1s;
}

@keyframes mainStartPrevious {
    from {
        left: 0px;
    }

    to {
        left: 898px;
    }
}

#previousMainContentArea {
    position: absolute;
}

#previousMainContentArea.animationStartPrevious {
    animation-name: previousStartPrevious;
    animation-duration: 1s;
}

@keyframes previousStartPrevious {
    from {
        left: -898px;
    }

    to {
        left: 0px;
    }
}

#nextMainContentArea {
    position: absolute;
}

#nextMainContentArea.animationStartNext {
    animation-name: nextStartNext;
    animation-duration: 1s;
}

@keyframes nextStartNext {
    from {
        left: 898px;
    }

    to {
        left: 0px;
    }
}


@keyframes mainContentNavProgress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.mainContentNavElement.isSelected {
    background-color: var(--maincontennNav-selected-color);
    color: white;
}

.justyfyContent-center {
    justify-content: center;
}

.Layout__column-center {
    display: flex;
    flex-direction: column;
}

.width_80percent {
    width: 80%;
}

.Layout__row-between {
    display: flex;
    justify-content: space-between;
    margin: 58px, 0;

}

.Layout__row-center {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

.datetext {
    color: var(--date-text-color);
}

.fontSize14 {
    font-size: 14px;
}

#rollingHeader {
    height: 50px;
    margin-top: 40px;
}

.gap10 {
    gap: 10px;
}

.bg-subGray {
    background-color: var(--background-color-sub-gray);
}

.Layout__row {
    display: flex;
}

.alignItems-center {
    align-items: center;
}

.main-border {
    border: var(--main-border);
}

#newsstandDetailTitle {
    width: 100%;
    height: 50px;
}

#newsstandCollection {
    border: 1px solid #D2DAE0;
    width: 100%;
    height: 388px;
}

#rollingBox_left {
    height: 17px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#rollingBox_right {
    height: 17px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.width_50percent {
    width: 50%;
}

.recentArticleMedia {
    padding-left: 16px;
    font-size: 14px;
    font-weight: 700;
    padding-right: 16px;
}

.recentArticleTitle {
    font-size: 14px;
    color: #5F6E76;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#curretDom {
    font-size: 14px;
    color: #5F6E76;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#mainContentSelector {
    margin-top: 32px;
}

.mainContentSelectorElement {
    color: var(--disable-color);
}

.mainContentSelectorElement.isSelected {
    color: var(--selected-color);
}


.detailTitleCategory {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #879298;
    gap: 24px;
    font-weight: 700;
}



.color-disable {
    color: var(--disable-color);
}



.showingMode {
    align-items: center;
    display: flex;
    gap: 8px;
}


.newsstandCollectionTitle {
    display: flex;
    border-bottom: 1px solid #D2DAE0;
    background-color: #F5F7F9;
}

.newsstandCollectionTitle>div {
    height: 40px;
    padding: 11.5px 16px;
    color: #879298;
}

.allPadding24 {
    padding: 24px;
}

.alignContent-center {
    align-content: center;
}

.currentNewsInfo {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 24px;
    padding-left: 24px;
    margin-top: 24px;
    gap: 16px;
    color: #5F6E76;
}

.newsstandCollectionTitle>.isSelected {
    background-color: #7890E7;
    color: white;
}

.newsstandCollectionContent {
    padding: 16px;
    height: 260px;
    display: flex;
}

#mainContent {
    margin-top: 24px;
}

#mainContentRepresentiveArticle {
    margin-right: 32px;
}

.marginTop16 {
    margin-top: 16px;
}



.newsstandCollectionMainContent>.title {
    margin-top: 16px;
    font-size: 16px;
    color: #14212B;
}

#mainContentAritcleList li {
    padding-bottom: 16px;
    color: #667584;
    font-weight: 500;
}

#mainContentAritcleList div {
    font-size: 14px;
    color: #879298;
}

/*  여기서 부터 rolling css 나중에 분리하자 */

.hoverInRecentNews>.recentArticleTitle {
    text-decoration: underline;
}

.currentDom_left {
    top: 0px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.currentDom_right {
    top: 0px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.futureDom_left {
    top: 17px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.futureDom_right {
    top: 17px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.futureDomStart {
    animation-name: futureDomStart;
    animation-duration: 1s;
}

.currentDom_Start {
    animation-name: currentDomStart;
    animation-duration: 1s;
}

@keyframes futureDomStart {
    from {
        top: 17px;
    }

    to {
        top: 0px;
    }
}

@keyframes currentDomStart {
    from {
        top: 0px;
    }

    to {
        top: -17px;
    }
}
