#header-wrapper {
    align-items: center;
    width: 930px;
}

    #title-wrapper {
        width: 136px;
        height: 29px;
        align-items: center;
    }
    
        #news-paper {
            filter: invert(70%) sepia(39%) saturate(4732%) hue-rotate(198deg) brightness(91%) contrast(98%);
        }

        #title-text {
            font-size: 24px;
            color: #14212B;
        }

    #date-text {
        font-size: 16px;
        line-height: 22px;
        color: #5F6E76;
        letter-spacing: 1px;
    }


