#title-text {
    font-size: 24px;
    color: #14212B;
    display: inline;
}

#date-text {
    font-size: 16px;
    line-height: 22px;
    color: #5F6E76;
    display: inline;
}

#title-wrapper {
    height: 29px;
    display: inline;
}

#news-paper {
    filter: invert(70%) sepia(39%) saturate(4732%) hue-rotate(198deg) brightness(91%) contrast(98%);
}

#header-wrapper {
    display: flex;
    flex-direction: row;
    width: 930px;
    justify-content: space-between;
    align-items: center;
}