@import "./reset.css";

/* header */
.content-header {
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    margin-top: 20px; 
    width: 930px;
}

.content-header__left {
    display: flex;
    flex-direction: row;    
    gap: 8px;
}

.content-header__left__svg {
    height: 24px;
    width: 24px;
}

.content-header__left__title {
    font-size: 26px;
    font-weight: 600;
}

.content-header__right {
    display: flex;
    flex-direction: row;    
}

.content-header__right__date {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}

/* sub header */
.content-sub-header {
    display: flex;
    flex-direction: row;
    width: 930px;
    gap: 8px;
}

.content-sub-header__box_invisible {
    display: flex;
    flex-direction: row;
    width: 461px;
    height: 49px;
    background-color: #F5F7F9;
    align-items: center;
    gap: 10px;
    border: lightgray solid 1px;
}

.content-sub-header__box {
    display: flex;
    flex-direction: row;
    width: 461px;
    height: 49px;
    background-color: #F5F7F9;
    align-items: center;
    gap: 10px;
    border: lightgray solid 1px;
}

.content-sub-header__news-header_invisible {
    font-size: 16px;
    font-weight: 300;
    display: block;
}

.content-sub-header__title {
    font-size: 16px;
    padding-left: 10px;
}

.content-sub-header__news-header {
    font-size: 16px;
    font-weight: 300;
    display: block;
    cursor: pointer;
}

.content-sub-header__news-header:hover {
    text-decoration: underline;
}
/* news list */
.news-list__menu {
    display: flex;
    width: 930px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.news-list__menu__selectors {
    display: flex;
    gap: 30px;
}

.news-list__menu__selectors__all {
    font-size: 16px;
    color:black;
    display: inline-block;
}

.news-list__menu__selectors__my {
    font-size: 16px;
    color: gray;
    display: inline-block;
}

.news-list__navbar {
    background-color: #F5F7F9;
    height: 40px;
    width: 930px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    border: lightgray solid 1px;
    overflow: scroll;
    border-bottom: none;
}

.news-list__navbar__category {
    min-width: 100px;
    text-align: left;
    color: gray;
    line-height: 40px;
    white-space: nowrap;
    cursor: pointer;
}

.news-list__navbar__category[data-selected="yes"] {
    background-image: linear-gradient(to right, #4362D0 0%, #7890E7 0%, #7890E7);
    text-align: left;
    min-width: 200px;
    color: white;
    padding-left: 10px;
    position: relative;
}

.news-list__navbar__category[data-selected="yes"]::after {
    content: attr(data-news-index) "/" attr(data-news-count);
    text-align: right;
    color: "white";
    position: absolute;
    right: 10px;
    font-size: 12px;
}

.news-list__navbar__category__count {
    font-size: 12px;
    line-height: 40px;
}

.news-list__navbar__category {
    min-width: 100px;
    text-align: center;
    color: gray;
}

.news-list__main {
    width: 930px;
    height: 348px;
    border: lightgray solid 1px;
}

.news-list__main__heading {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 15px;
}

.news-list__main__heading__company {
    font-size: 16px;
    font-weight: 600;
}

.news-list__main__heading__headers {
    display: flex;
    gap: 15px;
    padding: 25px;
    padding-bottom: 0px;
}

.news-list__main__heading__date {
    font-size: 12px;
    line-height: 14px;
}

.news-list__main__heading__title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    max-width: 320px;
    margin-top: 16px;
}

.news-list__main__list {
    float: left;
    padding: 25px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #4B5966;
}

.news-list__main__list__media-annotation {
    font-size: 14px;
    line-height: 16px;
    color: #879298;
}

.news-list__main__heading__image {
    width: 320px;
    height: 200px;
    border: #D2DAE0 solid 1px;
}

.news-list__with-btn {
    position: relative;
}

.news-list__btn-left {
    position: absolute;
    top: 50%;
    left: -50px;
    translate: 0 -50%;
    border: none;
    width: 50px;
    height: 50px;
    border-top: 1px solid #6E8091; 
    border-right: 1px solid #6E8091; 
    transform: rotate(225deg);
    background-color: inherit;
    cursor: pointer;
}

.news-list__btn-right {
    position: absolute;
    top: 50%;
    right: -50px;
    translate: 0 -50%;
    border: none;
    width: 50px;
    height: 50px;
    border-top: 1px solid #6E8091; 
    border-right: 1px solid #6E8091; 
    transform: rotate(45deg);
    background-color: inherit;
    cursor: pointer;
}

/* news stand */
.clipping {
    height: 150px;
    clip-path: inset(51px 0 48px 0);
}

.news-stand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}