.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 너비 동일 */
    grid-template-rows: repeat(4, 1fr); /* 높이 동일 */
    width: 938px; 
    height: 380px; 
    gap: 1px; 
    margin: 0 auto; /* 가운데 정렬 */
    /*border: 2px solid #ccc; */
    padding: 0px; 
}

.grid-item {
    border: 1px solid #f3f3f3;
    padding: 0px;
    text-align: center;
}

.news-icon {
    position: flex;
    display: flex;
    top: 50px; 
    left: 50px; 
    fill: blue; 
    background-image: url('../icons/newspaper.svg');
}