html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    padding: 30px 200px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1-left-group {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

header > span { 
    padding-right: 20px;
}

.headline {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    padding: 0px 20px;
}

.headline-left-group, .headline-right-group {
    background-color: #f5f7f9;
    border-radius: 3px;
    border: 2px solid #D2DAE0;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    letter-spacing: -1px;
}

#newsTitle {
    margin-left: 15px;
}

.selectOption {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.selectOption-left-group {
    padding-left: 20px;
}

.selectOption-right-group {
    padding-right: 20px;
}

.selectOption-right-group a {
    text-decoration: none;
}

#totalPress {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#subscribePress {
    margin-left: 20px;
    text-decoration: none;
    color: #5F6E76;
}

.newsList {
    padding: 20px 20px 0px 20px;
}

.newsList ul {
    display: flex;
    list-style: none;
    border: 1px solid #D2DAE0;
    padding: 0px;
    margin: 0px;
}

.newsList ul li {
    padding: 8px 15px;
}

.newsList a {
    text-decoration: none;
    color: #5F6E76;
}

.newsList nav {
    background-color: #f5f7f9;
    padding-left: 0;
    margin-left: 0;
}

.newsList article {
    position: relative;
    border: 1px solid #D2DAE0;
    height: 300px;
    padding: 10px 20px;
    overflow: hidden;
}

.articleTop {
    padding: 10px 0px;
    display: flex;
    align-items: center;
}

.articleTop img {
    height: 20px; /* 원하는 높이로 조절 */
    width: auto; /* 비율 유지 */
    margin-right: 10px;
}

.articleTop span, .articleTop button {
    line-height: 20px; /* img 태그의 높이에 맞춤 */
    height: 20px; /* 동일 높이로 설정 */
    margin-right: 10px;
    font-size: 12px;
}

.subscribeBtn {
    border: 1px solid #575757;
    border-radius: 20px;
    background-color: #f5f7f9;
    color: #5F6E76;
    cursor: pointer;
}

.articleBottom {
    display: flex;
    overflow: hidden;
}

.articleImage img {
    margin-bottom: 10px;
}

.articleOther {
    padding: 0px 40px;
}

.vertical-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: none !important;
}

.vertical-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vertical-list li span a {
    color: black;
}

.vertical-list li span a:hover {
    text-decoration: underline;
}

nav ul li {
    position: relative; /* 자식 요소의 위치를 상대적으로 설정 */
    padding: 8px 15px;
    cursor: pointer;
}

nav ul li a {
    display: block; /* 블록 요소로 변경하여 li의 영역을 모두 차지하게 함 */
    font-weight: bold;
    text-decoration: none;
    position: relative; /* a 태그의 위치 설정 */
    z-index: 1; /* 다른 요소들보다 위에 나타나도록 설정 */
}

.leftButton {
    position: fixed;
    top: 450px;
    left: 150px;
    z-index: 1;
    cursor: pointer;
}

.rightButton {
    position: fixed;
    top: 450px;
    right: 150px;
    z-index: 1;
    cursor: pointer;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.headline-left-group ul, .headline-right-group ul {
    list-style: none;
}

.headline-left-group li, .headline-right-group li {
    position: absolute;
    top: -39px;
    left: 0;
}

.headline-left-group strong, .headline-right-group strong {
    margin-right: 15px;
}

/* prev 롤링 배너 표시 */
.headline-left-group li.prev, .headline-right-group li.prev {
    top: -39px;
    transition: top 0.5s ease;
}

/* current 롤링 배너 표시 */
.headline-left-group li.current, .headline-right-group li.current {
    top: -3px;
    transition: top 0.5s ease;
}

/* next 롤링 배너 표시 */
.headline-left-group li.next, .headline-right-group li.next {
    top: 39px;
}

/* 헤드라인 마우스 오버 시 커서랑 밑줄 표시 */
.headline-left-group span:hover, .headline-right-group span:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav ul li.active a {
    color: white;
}

.navItem.active {
    position: relative;
    background-color: #7890E7; /* 기존 배경색 */
}

.navItem.active > div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4362D0; /* 덮어씌울 색상 */
    transform: scaleX(0); /* 초기 너비를 0으로 설정 */
    transform-origin: left; /* 왼쪽에서 시작 */
    transition: transform 20s linear; /* 20초 동안 서서히 변화 */
}

.navItem.active.progress > div::after {
    transform: scaleX(1); /* 최종 너비를 100%로 설정 */
}

.articleImage > img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.articleImage > img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}

.articleImage > strong:hover {
    text-decoration: underline;
}