@media (prefers-color-scheme: light) {
    .theme-a.adaptive {
      background: #753;
      color: #dcb;
      outline: 5px dashed #000;
    }
}
.news-header {
    display: flex;
    align-items: center;
    margin-left: 175px;
    width: 930px;
}
/*
.news-icon {
    position: flex;
    top: 50px; 
    left: 50px; 
    fill: blue; 
    background-image: url('../icons/newspaper.svg'); 
} 
*/

.news-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
} 

h2 {
    display: inline-block;
    vertical-align: middle;
}

.today {
    margin-top: 20px;
    font-size: 16px;
}
.date {
    margin-left: auto;
}

.date p {
    font-size: 16px;
    color: #5f6e76;
}

.news-ticker-container {
    gap: 8px;
    display: flex;
    top: 127px;
    margin-left: 175px;
}
.news-ticker {
    width: 460px;
    height: 49px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.press {
    width: 50px;
    margin-left: 10px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    color: #14212B;
    font-weight: bold;
}

.article {
    width: 375px;
    height: 17px;
    gap: 0px;
    margin-left: 16px;
    opacity: 0px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    color: #5f6e76;
    animation: animateHeadline 5s infinite;
}

.article:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄 표시 */
}

@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* 아래로 슬라이드 */
  @keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
}

.all-article-container{
    width: 930px;
    height: 24px;
    top: 208px;
    left: 175px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
}

.subs{
    color: #879298;
}

.active-art{
    color: #14212B !important;
}

.article-container{
    width: 930px;
    gap: 8px;
    display: flex;
    margin-top: 30px;
    margin-left: 175px;
}

.switchbutton{
    display: flex;
    margin-left: auto;
}
.list-icon{
    display: flex;
    margin-left: auto;
}
.grid-icon{
    display: flex;
    margin-right: 5px;
}

.news-list-container{
    width: 930px;
    height: 388px;
    margin-top: 20px;
    gap: 0px;
    background-color: #ffffff;
    display: flex;
    margin-left: 175px;
    border: 1px solid #D2DAE0;
    flex-direction: column;
}

.news-list-header{
    width: 930px;
    height: 40px;
    gap: 0px;
    border-bottom: 1px solid #D2DAE0;

    background: var(--surface-surface-alt, #F5F7F9);
    display: flex;
}

.news-press-container {
    height: 40px;
    display: flex;
    align-items: center; 
}

.news-press-img {
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; 
    margin-left: 10px;
    margin-right: 10px;
}

.news-press-edit {
    width: 150px;
    font-family: Pretendard Variable;
    font-size: 15px;
    line-height: 14.06px;
    text-align: center;
}

.news-press-subscribe{
    justify-content: center;
    margin-top: 5px;
    margin-left:10px;
}

.news-main-container{
    display: flex;
    flex-direction: row;
}
.news-sub-container_left{
    display: flex;
    width: 350px;
    flex-direction: column;
}

.news-sub-container_right{
    margin-left: 20px;
    margin-top:30px;
}
.news-image-container {
    width: 320px;
    height: 200px;
    overflow: hidden; 
    border: 1px #D2DAE0; 
    margin-left: 25px;
    margin-top: 45px;
    display: flex;
}

.news-image-container img {
    width: 100%; 
    height: auto; 
    display: block; /* 다른 요소와 세로로 정렬 */
    transition: transform 0.3s ease;
}

.news-title {
    color: #14212B;
}

.news-image-container img:hover + .news-title {
    text-decoration: underline;
}

.news-image-container:hover img {
    transform: scale(1.2);
}

.news-title-container {
    width: 320px;
    height: 44px;
    overflow: hidden; 
    border: 1px #D2DAE0; 
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
}


.news-title:hover {
    text-decoration: underline;
}
.news-sub-titles{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.news-sub-titles:hover {
    text-decoration: underline;
}
button {
    width:166px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    background-color: #7890E7;
    
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-position 0.5s ease; 
    background-image: linear-gradient(to right, #1E90FF, #87CEEB); /* 왼->오 */
    background-size: 200% auto; 
    background-position: -100% center; /* 초기 - 왼 */
}
button:hover {
    background-position: 100% center; 
    text-decoration: underline;
}

.blue-background {
    background-color: #1E90FF; 
}
.text-button {
    padding: 12px 12px; 
    color: #4B5966; 
    cursor: pointer;
    font-size: 15px; 
    /*border-right: 0.5px solid #4B5966; */
}

.text-button:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄 표시 */
}

.left-button{
    left:120px;
    top: 430px;
    width: 24px;
    height: 40px;
    position: relative;
}

.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn.disabled {
    opacity: 0;
    pointer-events: none; 
  }

.right-button{
    position: relative;
    margin-left: 35px;
    width: 24px;
    height: 40px;
    top: 396px;
    left: 1100px;
}

/* progress button - tab*/
.progress-button{
    background: var(--surface-surface-brand-alt, #7890E7);
    width: 166px;
    height: 40px;
}