h1 {
    color: var(--main-color);
}

@media (prefers-color-scheme: light) {
    .theme-a.adaptive {
      background: #753;
      color: #dcb;
      outline: 5px dashed #000;
    }
}
.news-header {
    display: flex;
    align-items: center;
    margin-left: 175px;
    width: 930px;
}

.news-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
} 

h2 {
    display: inline-block;
    vertical-align: middle;
}

.today {
    margin-top: 20px;
    font-size: 16px;
}
.date {
    margin-left: auto;
}

.date p {
    font-size: 16px;
    color: #5f6e76;
}

.news-ticker-container {
    gap: 8px;
    display: flex;
    top: 127px;
    margin-left: 175px;
}
.news-ticker {
    width: 460px;
    height: 49px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.press {
    width: 50px;
    margin-left: 10px;
    height: 17px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    color: #14212B;
    font-weight: bold;
}

.article {
    width: 375px;
    height: 17px;
    gap: 0px;
    margin-left: 16px;
    opacity: 0px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    color: #5f6e76;
    animation: animateHeadline 5s infinite;
}

.article:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄 표시 */
}

.rollarticle {
    width: 375px;
    height: 17px;
    gap: 0px;
    margin-left: 16px;
    opacity: 0px;
    font-family: 'Pretendard Variable', sans-serif;
    font-size: 14px;
    color: #5f6e76;
    text-overflow: ellipsis;
    overflow: hidden;
    animation: animateHeadline 5s infinite;
}

.rollarticle:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄 표시 */
}

@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes slideOut {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
}
.all-article-container{
    width: 930px;
    height: 24px;
    top: 208px;
    left: 175px;
    gap: 0px;
    justify-content: space-between;
    opacity: 0px;
}

.subs{
    color: #879298;
}

.active-art{
    color: #14212B !important;
}

.article-container{
    width: 930px;
    gap: 8px;
    display: flex;
    margin-top: 30px;
    margin-left: 175px;
}

.switchbutton{
    display: flex;
    margin-left: auto;
}
.list-icon{
    display: flex;
    margin-left: auto;
}
.grid-icon{
    display: flex;
    margin-right: 5px;
}

.news-list-container{
    width: 930px;
    height: 388px;
    margin-top: 20px;
    gap: 0px;
    background-color: #ffffff;
    display: flex;
    margin-left: 175px;
    border: 1px solid #D2DAE0;
    flex-direction: column;
}

.news-list-header{
    width: 930px;
    height: 40px;
    gap: 0px;
    border-bottom: 1px solid var(--grayscale-100);
    overflow-x: auto;
    white-space: nowrap; /* 자식 줄 바꿈 x */
    background: var(--surface-surface-alt, #F5F7F9);
    display: flex;
}

.news-press-container {
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 24px; 
}

.news-press-img {
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; 
    margin-left: 10px;
    margin-right: 10px;
    width: 50px; 
    height: 20px; 
}
.news-press-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 컨테이너에 맞추기 */
}
.news-press-edit {
    width: 150px;
    font-family: Pretendard Variable;
    font-size: 15px;
    line-height: 14.06px;
    text-align: center;
}

.news-press-subscribe{
    justify-content: center;
    margin-top: 5px;
    margin-left:10px;
}

.news-main-container{
    display: flex;
    flex-direction: row;
}
.news-sub-container_left{
    display: flex;
    width: 350px;
    flex-direction: column;
}

.news-image-container {
    width: 320px;
    height: 200px;
    overflow: hidden; 
    border: 1px #D2DAE0; 
    margin-left: 26px;
    margin-top: 15px;
    display: flex;
}

.news-image-container img {
    width: 100%; 
    height: auto; 
    display: block; /* 다른 요소와 세로로 정렬 */
    transition: transform 0.3s ease;
}

.news-title {
    color: #14212B;
}

.news-image-container img:hover + .news-title {
    text-decoration: underline;
}

.news-image-container:hover img {
    transform: scale(1.2);
}

.news-title-container {
    width: 320px;
    height: 44px;
    overflow: hidden; 
    border: 1px #D2DAE0; 
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
}


.news-title:hover {
    text-decoration: underline;
}
.news-sub-titles{
    display: flex;
    gap: 16px;
    margin-top: 17px;
    color:  #4B5966;
    padding-left: 22px;
    cursor: pointer;
}
.news-sub-titles:hover {
    text-decoration: underline;
}

button {
    width:166px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
    background-color: #7890E7;
    
    color: #fff; 
    border: none;
    cursor: pointer;
    transition: background-position 0.5s ease; 
    background-image: linear-gradient(to right, #1E90FF, #87CEEB); /* 왼->오 */
    background-size: 200% auto; 
    background-position: -100% center; /* 초기 - 왼 */
}
button:hover {
    background-position: 100% center; 
    text-decoration: underline;
}

.blue-background {
    background-color: #1E90FF; 
}
.text-button {
    padding: 12px 12px; 
    color: #4B5966; 
    cursor: pointer;
    font-size: 15px; 
}

.text-button:hover {
    text-decoration: underline; /* 마우스 커서가 올라갔을 때 밑줄 표시 */
}

.left-button{
    left:120px;
    top: 430px;
    width: 24px;
    height: 40px;
    position: relative;
}

.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn.disabled {
    opacity: 0;
    pointer-events: none; 
  }

.right-button{
    position: relative;
    margin-left: 35px;
    width: 24px;
    height: 40px;
    top: 396px;
    left: 1100px;
}

.progress-button{
    cursor: pointer;
    width: 166px;
    height: 17px;
    display: flex;
    background: linear-gradient(to right,var(--blue-500) 50%,#7890E7 50%);
    font-size: 15px;
    padding: 12px 12px;
    color: white;
    position: relative;
    background-size: 200% 100%;
}

.progress-button.animate {
    background-position: left bottom;
    animation: fillAnimation 4s linear;
}

.progress-button:hover{
    text-decoration: underline;
}

/* 구독 탭바  */
.sub-button{
    cursor: pointer;
    width: 166px;
    height: 17px;
    display: flex;
    background: linear-gradient(to right,var(--blue-500) 50%,#7890E7 50%);
    font-size: 15px;
    padding: 12px 12px;
    color: white;
    position: relative;
    background-size: 200% 100%;
}

.sub-button.animate {
    background-position: left bottom;
    animation: fillAnimation 2s ease-in;
}

.sub-button:hover{
    text-decoration: underline;
}

@keyframes fillAnimation {
    0% { background-position: right bottom; }
    100% { background-position: left bottom; }
}

/* 구독 시 나타남 id - # */
#toastmsg {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%, 50%);
    background-color: #4362D0; 
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
    z-index: 1000;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#tost_message.active {
    opacity: 1;
    bottom: 50px;
}


.hidden {
    display: none;
}

.ul{
    display: flex;
    gap: 16px;
    margin-top: 16px;
    color:  #4B5966;
}

.pressedby{
    color:#879298;
    margin-top: 15px;
    margin-left: 25px;
    font-size: 15px;
}

#submodal {
    position: fixed;
    width: 286px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-brand-default);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: auto;
    transform: translate(-50%, -50%); /* 중앙 정렬*/
    box-shadow: 3px 4px 11px 0px #00000040;
    z-index: 10;
    left: 50%;
    top: 50%;
    opacity: 0;
}

#submodal.active {
    opacity: 1;
}

.text-button span{
    margin-left: auto;
}

.subprogress-button{
    cursor: pointer;
    width: 166px;
    height: 17px;
    display: flex;
    background: linear-gradient(to right,var(--blue-500) 50%,#7890E7 50%);
    font-size: 15px;
    padding: 12px 12px;
    color: white;
    position: relative;
    background-size: 200% 100%;

}

.subprogress-button img{
    margin-left: auto;
}

.subprogress-button.animate {
    background-position: left bottom;
    animation: fillAnimation 2s linear;
}

.subprogress-button:hover{
    text-decoration: underline;
}