.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  padding: 0 6px;
  border: 1px solid var(--border-default);
  border-radius: 50px;
  box-sizing: border-box;

  color: var(--text-weak);
  font-size: 12px;

  &:hover {
    color: var(--text-bold);
    border-color: var(--border-bold);
  }
}

.hasText {
  width: auto;

  padding-left: 3px;
}

.white {
  background-color: var(--surface-default);
}

.gray {
  background-color: var(--surface-alt);
}
