.list-company-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.company-container-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.company-container-contents {
  display: flex;
  gap: 32px;
}

.company-container-contents .main-news {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company-container-contents .main-news:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
  text-decoration: underline;
}

.company-container-contents .main-news > img {
  max-width: 320px;
  width: 100%;
  height: 200px;
  object-fit: fill;
}

.company-container-contents .main-news > a {
  color: var(--text-strong);
}

.company-container-contents .news-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--text-bold);
}

.company-container-contents .news-list > p {
  color: var(--text-weak);
}

.company-container-contents .news-list a:hover {
  text-decoration: underline;
}
