/* container */
.list-company-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

.list-company-container > div {
  padding: 0 24px;
}

/* header */
.company-container-header {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* contents */
.company-container-contents {
  overflow: hidden;
  display: flex;
  gap: 32px;
}

/* main news */
.main-news {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 320px;
  overflow: hidden;
}

.main-news > img {
  height: 200px;
  object-fit: cover;
}

.main-news > a {
  color: var(--text-strong);
}

.main-news:hover > a {
  text-decoration: underline;
}

.main-news:hover > img {
  transition: transform 0.2s;
  transform: scale(1.05);
}

/* news-list */

.news-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  color: var(--text-bold);
  min-width: 320px;
  overflow: hidden;
}

.news-list > p {
  color: var(--text-weak);
}

.news-list a:hover {
  text-decoration: underline;
}
