/* 공통 css class */
.inline-tag {
    display: inline;
}

.block-tag {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-col-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 컴포넌트 간 간격 */
.header-area {
    margin-bottom: 40px;
}

.news-bar-area {
    margin-bottom: 30px;
}