:root {
    --text-strong: #14212B;
    --text-bold: #4B5966;
    --text-default: #5F6E76;
    --text-weak: #879298;
    --text-white-default: #FFFFFF;
    --text-white-weak: #FFFFFFB2;
    --text-point: #4362D0;
    --surface-default: #FFFFFF;
    --surface-alt: #F5F7F9;
    --surface-brand-default: #4362D0;
    --surface-brand-alt: #7890E7;
    --border-bold: #6E8091;
    --border-default: #D2DAE0;
}

/* 공통 CSS 클래스 */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-flex {
    display: flex;
    flex-direction: column;
}


body {
    flex-direction: column;
    margin: 0 auto;
    max-width: 930px;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 58px;
    width: 100%;

}

.header-logo {
    display: flex;
    gap : 8px;
}

.header-logo > a {
    margin : 0;
    color: var(--text-strong);
    font-size: 24px;
    text-decoration: none;
    line-height: 28.13px;
    font-weight: bold;
}

.header-date {
    display: flex;
    align-items: center;
    color : var(--text-default);
    height: fit-content;
}

/* section */

section {
    display: flex;
    width: 100%;
    gap : 8px;
    justify-content: space-between;
    margin-top: 40px;
}

.news-item {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 16px;
    display: flex;
    gap : 16px;
    align-items: center;
    overflow: hidden;

}

.news-item.hidden {
    transform: translateY(100%);
}

.news-item.show {
    transform: translateY(0);
}

.news-item.exit {
    transform: translateY(-100%);
}

.news-item .news-company {
    font-weight: bold;
    color: #333;
    flex-shrink: 0;
}

.news-item .news-title {
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
    margin-bottom: 0;
    color : var(--text-default);
    flex-grow: 1; 
    max-width: 364px;

}

.news-item .news-title:hover {
    text-decoration: underline;
}
.news-container-left, .news-container-right {
    position: relative;
    overflow: hidden;
    height: 49px;
    display: flex;
    flex: 1;
    border: 1px solid var(--surface-default);
    align-items: center;
    background-color: var(--surface-alt);
    cursor: pointer;

}

/* main */

main {
    width: 100%;
    margin-top: 32px;
    align-items: center;
    position: relative;
}

.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-header-tab {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    gap: 24px;
    color: var(--text-weak);
    cursor: pointer;
    line-height: 22px;
}

.selected-tab {
    color: var(--text-strong);
    font-weight: bold;
}
.main-header-tab > p{
    margin: 0;
}

.main-header-icons {
    display: flex;
}

.main-header-icons > img {
    width: 24px;
    height: 24px;
}

#grid-view {
    margin-left: 8px;
}

.list-view-container, .grid-view-container{
    width: 100%;
    display: none;
    margin-top: 24px;
}

.grid-view-container {
    height: 388px;
    border: 1px solid var(--border-default);
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    border-collapse: collapse;
}

.grid-item {
    border: 1px solid var(--border-default);
    background-color: var(--surface-default);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-view-container.selected-view {
    display: block;
}
.grid-view-container.selected-view {
    display: grid;
}
.list-view-header {
    width: 100%;
    display: flex;
    border: 1px solid var(--border-default);
    background-color: var(--surface-alt);
    text-align: center;
    cursor: pointer;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    scrollbar-width: none; 
}


.category-item {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--text-weak);
    font-size: 14px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.category-item:hover {
    text-decoration: underline;
}

.selected-category {
    display: flex;
    justify-content: space-between;
}

.selected-category, .index-text {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.arrow-icon {
    height: 14px;
    margin: auto 0;
    z-index: 2;

}
.selected {
    width: 166px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--surface-brand-alt);
    color: var(--text-white-default);
    font-weight: bold;
}

.selected .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(67, 98, 208, 0.5);
    z-index: 1;
}

.selected .category-text {
    position: relative;
    z-index: 2;
}

@keyframes progressAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.news-container {
    gap: 16px;
    border-left: 1px solid var(--border-default);
    border-right: 1px solid var(--border-default);
    border-bottom: 1px solid var(--border-default);
    padding: 24px;
}
.info {
    height: 346px;
    box-sizing: border-box;
    padding : 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-default);
    border-right: 1px solid var(--border-default);
    border-bottom: 1px solid var(--border-default);
    font-size: 16px;
    color: var(--text-weak);

}
.news-container.hidden , .info.hidden {
    display: none;

}

.container-header {
    display: flex;
    justify-content: space-evenly;
    gap : 16px;
    width: fit-content;
    align-items: center;
}

.company-logo {
    height: 20px;
}

.edit-date {
    color: var(--text-default);
    font-size: 12px;
    margin: 0;
}

.subscribe-btn {
    height: 24px;
    color: var(--text-weak);
    font-size: 12px;
    background-color: var(--surface-alt);
    border : 1px solid var(--border-default);
    border-radius: 50px;
    padding : 0px 6px 0px 6px;
    display: flex;
    align-items: center;  
    cursor: pointer;

}

.my-subscribe {
    background-color: var(--surface-default);
    width: 24px;
    box-sizing: border-box;
    justify-content: center;
}


.news-item-container {
    display: flex;
    gap:32px;
    width: 930px;
}

.main-news {
    width: 320px;
    gap: 16px;
    cursor: pointer;
    color: var(--text-strong);
    font-size: 16px;
}

.main-news div:hover {
    text-decoration: underline;
}

.main-news img {
    width: 320px;
    height: 200px;
}
.sub-news {
   gap: 16px; 
   color: var(--text-bold);
   font-size: 16px;
}

.sub-news-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.explanation {
    color: var(--text-weak);
    font-size: 14px;
}

.arrow {
    display: flex;
    position: absolute;
    top: 50%;
    width: 24px;
    height: 40px;
    cursor: pointer;
}

.left-btn {
    left: -50px;
}

.right-btn {
    right: -50px;

}

.toast-alert {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top : 50%;
    padding : 16px 24px 16px 24px;
    background-color: var(--surface-brand-default);
    color: var(--text-white-default);
    font-size: 16px;
    line-height: 22px;
    transition: opacity 0.5s, visibility 0.5s;

}

.toast-alert.show { 
    visibility: visible;
    opacity: 1;

}

.grid-sub-btn, .grid-unsub-btn {
    padding: 0px 6px 0px 6px;
    border: 1px solid var(--border-bold);
    border-radius: 50px;
    color: var(--text-bold);
    font-size: 12px;
    height: 24px;
    display: flex;
    align-items: center;
    background-color: var(--surface-alt);
    box-sizing: border-box;
    display: none;
    cursor: pointer;
}

.grid-item:hover {
    background-color: var(--surface-alt);
}


.grid-item:hover .grid-logo-img {
    display: none;
}

.grid-item:hover .grid-sub-btn, .grid-item:hover .grid-unsub-btn {
    display: flex;
}