:root {
    --text-strong: #14212B;
    --text-bold: #4B5966;
    --text-default: #5F6E76;
    --text-weak: #879298;
    --text-white-default: #FFFFFF;
    --text-white-weak: #FFFFFFB2;
    --text-point: #4362D0;
    --surface-default: #FFFFFF;
    --surface-alt: #F5F7F9;
    --surface-brand-default: #4362D0;
    --surface-brand-alt: #7890E7;
    --border-bold: #6E8091;
    --border-default: #D2DAE0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 58px;
    margin-left: auto;
    margin-right: auto;
    width: 930px;

}

.header-logo {
    display: flex;
    gap : 8px;
    color : var(--text-strong);
    font-size: 24px;
}

.header-logo h3 {
    margin : 0;
}

.header-date {
    display: flex;
    align-items: center;
    color : var(--text-default);
    height: fit-content;
}

nav {
    display: flex;
    width: 930px;
    gap : 8px;
    justify-content: space-between;
    margin-top: 40px;
}

.nav-left, .nav-right {
    display: flex;
    flex : 1;
    border: 1px solid var(--surface-default);
    gap : 16px;
    padding : 16px;
    align-items: center;
    background-color: var(--surface-alt);
    cursor: pointer;

}

.nav-news-title {
    color : var(—text-bold);
    font-size : 14px;
    margin : 0;
}

.nav-news-title:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.main-header {
    width: 930px;
    display: flex;
    justify-content: space-between;
}

.main-header-tab {
    display: flex;
    font-size: 16px;
    line-height: 22px;
    gap: 24px;
}

#all {
    color: var(--text-weak);
}
#subscribe {
    color: var(--text-strong);

}
.main-header-tab p{
    margin: 0;
}

.main-header-icons {
    display: flex;
    gap: 8px s;
}

.main-header-icons img {
    width: 18px; /* 이미지의 너비와 높이를 조정 */
    height: 18px;
}

.all-cate-header {
    width : 930px;
    display: flex;
    margin-top: 24px;
    border: 1px solid var(--border-default);
    background-color: var(--surface-alt);
    text-align: center;


}


.category-item {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--text-weak);
    font-size: 14px;
    text-align: center;
    position: relative;
}

.selected {
    width: 166px;
    overflow: hidden;
    background-color: var(--surface-brand-alt);
    color: var(--text-white-default);
}

.selected .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(67, 98, 208, 0.5);
    z-index: 1;
    animation: progressAnimation 20s linear forwards; 
}

.selected .category-text {
    position: relative;
    z-index: 2;
}

@keyframes progressAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
