@import "../foundation/foundation.css";

.autoRollingNews {
    width: 100%;
    display: flex;
    /* gap: 16px; */
    background-color: var(--color-surface-alt);
    padding: 16px;

    border: var(--border-default);
}

.autoRollingNews-company {
    width: max-content;
    margin: 0;
    height: 100%;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-regular);
    color: var(--color-text-strong);
}

.autoRollingNews-title {
    border: 0;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
    background-color: transparent;
    color: var(--color-text-default);
}