.color_FFFFFF {
    color: #FFFFFF;
}

.color_F5F7F9 {
    color: #F5F7F9;
}

.color_D2DAE0 {
    color: #D2DAE0;
}

.color_879298 {
    color: #879298;
}

.color_6E8091 {
    color: #6E8091;
}

.color_5F6E76 {
    color: #5F6E76;
}

.color_4B5966 {
    color: #4B5966;
}

.color_14212B {
    color: #14212B;
}

.color_7890E7 {
    color: #7890E7;
}

.color_4362D0 {
    color: #4362D0;
}

.color_879298 {
    color: #879298;
}
