.display-bold24 {
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 700;
}

.display-bold16 {
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 700;
}

.display-bold14 {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 700;
}

.display-bold12 {
    font-size: 12px;
    line-height: 14.06px;
    font-weight: 700;
}

.display-medium16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.display-medium14 {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
}

.display-medium12 {
    font-size: 12px;
    line-height: 14.06px;
    font-weight: 500;
}

.selected-bold16 {
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 700;
}

.selected-bold14 {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 700;
}

.available-medium16 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.available-medium14 {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
}

.available-medium12 {
    font-size: 12px;
    line-height: 14.06px;
    font-weight: 500;
}

.hover-medium16 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.hover-medium14 {
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 500;
}
