.page {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  /* border: solid red; */
}

.header {
  /* border: solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header img {
  height: 24px;
  filter: invert(37%) sepia(47%) saturate(1493%) hue-rotate(200deg) brightness(90%) contrast(91%);
}

.header div {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  gap: 5px;
}

.header .date {
  color: #5F6E76;
  font-size: 16px;
}

.roll {
  /* border: solid black; */
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.roll .graybox {
  flex: 1;
  background-color: #F5F7F9;
  border: 1px solid #D2DAE0;
  padding: 16px;
  overflow: hidden;
}

.roll .invisibleBox {
  display: flex;
  border: none;
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
}

.roll span.com {
  font-size: 14px;
  width: 60px;
  margin-right: 16px;
  color: #14212B;
  font-weight: bold;
}

.roll span.title {
  font-size: 14px;
  color: #5F6E76;
}

.roll span.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggle .subscribeToggle {
  display: flex;
  gap: 30px;
}

.toggle span {
  color: #879298;
  font-size: 16px;
  letter-spacing: -1px;
}

.toggle .whole {
  font-weight: bold;
  color: black;
}

.toggle .list-view {
  filter: invert(44%) sepia(40%) saturate(1022%) hue-rotate(190deg) brightness(83%) contrast(98%);
}

.newsgroup {
  background-color: #F5F7F9;
  border: solid #D2DAE0 1px;
  display: flex;
  align-items: center;
  color: #879298;
}

.newsgroup div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  gap: 60px;
}

.list {
  border: solid #D2DAE0 1px;
  height: 348px;
  padding: 24px;
  position: relative;
}

.list .subscrBar {
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.list .subscrBar img {
  height: 20px;
}

.list .subscrBar span {
  color: #5F6E76;
  font-size: 12px;
}

.list .subscrBar button {
  background-color: #F5F7F9;
  border: #D2DAE0 1px solid;
  font-size: 12px;
  height: 24px;
  color: #879298;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
}

.list .bottom {
  display: flex;
}

.list .headline {
  display: flex;
  flex-direction: column;
}

.list .headline img {
  height: 200px;
}

.list .leftscroll {
  position: absolute;
  left: -6%;
  top: 40%;
}

.list .leftscroll:hover {
  cursor: pointer;
}

.list .rightscroll {
  position: absolute;
  right: -6%;
  top: 40%;
}

.list .rightscroll:hover {
  cursor: pointer;
}