.page {
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header img {
  height: 24px;
  filter: invert(37%) sepia(47%) saturate(1493%) hue-rotate(200deg) brightness(90%) contrast(91%);
}

.header div {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  gap: 5px;
}

.header .date {
  color: #5F6E76;
  font-size: 16px;
}

.roll {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.roll .graybox {
  flex: 1;
  background-color: #F5F7F9;
  border: 1px solid #D2DAE0;
  padding: 16px;
  overflow: hidden;
  display: flex;
  gap: 16px;
}

.roll .invisible-box {
  display: flex;
  height: 18px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.roll .invisible-box.com {
  min-width: 60px;
  max-width: 60px;
}

.roll .invisible-box span.com {
  color: #14212B;
  font-weight: bold;
}

.roll .invisible-box span.title {
  color: #5F6E76;
}

.roll .invisible-box span.title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggle .subscribe-toggle {
  display: flex;
  gap: 30px;
}

.toggle span {
  color: #879298;
  font-size: 16px;
  letter-spacing: -1px;
}

.toggle .whole {
  font-weight: bold;
  color: black;
}

.toggle .list-button {
  filter: invert(44%) sepia(40%) saturate(1022%) hue-rotate(190deg) brightness(83%) contrast(98%);
}

.newsgroup {
  background-color: #F5F7F9;
  border: solid #D2DAE0 1px;
  display: flex;
  align-items: center;
  color: #879298;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

.newsgroup div {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  gap: 60px;
}

.newsgroup .selected {
  background: linear-gradient(to right, #4362D0 50%, #7890E7 50%);
  background-size: 200%;
  color: white;
  font-weight: bold;
}

.newsgroup .unselected:hover {
  text-decoration: underline;
  cursor: pointer;
}

.paper {
  border: solid #D2DAE0 1px;
  height: 348px;
  padding: 24px;
  position: relative;
}

.paper .subscribe-bar {
  margin-bottom: 16px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.paper .subscribe-bar img {
  height: 20px;
}

.paper .subscribe-bar span {
  color: #5F6E76;
  font-size: 12px;
}

.paper .subscribe-bar button {
  background-color: #F5F7F9;
  border: #D2DAE0 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 24px;
  min-width: 24px;
  color: #879298;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
}

.paper .subscribe-bar button:hover {
  background-color: white;
  color: #4B5966;
  border: #6E8091 1px solid;
}

.paper .subscribe-bar button:active {
  color: white;
  background-color: #7890E7;
  border: 1px solid #4362D0;
}

.paper .bottom {
  display: flex;
  gap: 30px;
}

.paper .bottom .headline {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 16px;

}

.paper .bottom .headline img {
  height: 200px;
  object-fit: contain;
}

.paper .bottom .headline span {
  font-size: 16px;
  font-weight: bold;
}

.paper .bottom .headline span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.paper .bottom .list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  overflow: hidden;
  ;
  white-space: nowrap;
  font-size: 16px;
  gap: 16px;
}

.paper .bottom .list span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.paper .bottom .list caption {
  font-size: 14px;
  color: #879298;
}

.paper .leftscroll {
  position: absolute;
  left: -6%;
  top: 50%;
  transform: translate(0%, -50%);
}

.paper .leftscroll:hover {
  cursor: pointer;
}

.paper .rightscroll {
  position: absolute;
  right: -6%;
  top: 50%;
  transform: translate(0%, -50%);
}

.paper .rightscroll:hover {
  cursor: pointer;
}

.snackbar {
  color: white;
  font-size: 16px;
  background-color: #4362D0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unsubscribe-alert {
  width: 320px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #D2DAE0;
  display: none;
}

.unsubscribe-alert .up {
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5F6E76;
  font-size: 16px;
}

.unsubscribe-alert .up .company-name {
  color: black;
  font-weight: bold;
}

.unsubscribe-alert .down {
  background-color: #F5F7F9;
  border-top: 1px solid #D2DAE0;
  display: flex;
}

.unsubscribe-alert .down div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 16px;
  color: #14212B;
}

.unsubscribe-alert .down div:hover {
  text-decoration: underline;
  cursor: pointer;
}

.unsubscribe-alert .down .unsubscribe-yes {
  border-right: 1px solid #D2DAE0;
}

.paper .no-news {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: #879298;
}

.paper .no-news img {
  height: 150px;
  width: 150px;
}

.grid-view {
  border-top: solid #D2DAE0 1px;
  border-left: solid #D2DAE0 1px;
  height: 388px;
  position: relative;
  display: none;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.grid-view .cell {
  border-right: solid #D2DAE0 1px;
  border-bottom: solid #D2DAE0 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-view .cell:hover {
  background-color: #F5F7F9;
}

.grid-view .cell button {
  display: none;
  background-color: #F5F7F9;
  border: #D2DAE0 1px solid;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 24px;
  min-width: 24px;
  color: #879298;
  border-radius: 12px;
  padding-left: 6px;
  padding-right: 6px;
}

.grid-view .cell button:hover {
  background-color: white;
  color: #4B5966;
  border: #6E8091 1px solid;
  cursor: pointer;
}

.grid-view .cell button:active {
  color: white;
  background-color: #7890E7;
  border: 1px solid #4362D0;
}