.newsList {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  position: relative;
}

.filterSection {
  display: flex;
  justify-content: space-between;

  height: 24px;

  margin-top: 32px;
}

.newsFilter {
  display: flex;
  gap: 24px;

  height: 100%;
}

.newsFilter > .filterTab {
  font-size: 16px;
  color: var(--text-weak);

  cursor: pointer;
}

.newsFilter > .selected {
  color: var(--text-strong);
  font-weight: bold;
}

.viewTypeFilter {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.viewTypeFilter > .filterTab {
  cursor: pointer;
}

.viewTypeFilter > .filterTab.selected {
  color: var(--text-point);
}
