.button {
  width: 24px;
  height: 24px;
  padding: 0 5px;

  border-radius: 50px;

  color: var(--text-weak);

  display: flex;
  align-items: center;
  gap: 2px;

  background-color: var(--surface-default);
}
.button:hover {
  border-color: var(--border-bold);
  color: var(--text-bold);
}

/* variant */
.button-white {
  background-color: var(--surface-default);
}

.button-gray {
  background-color: var(--surface-alt);
}

/* icon */
.button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-icon {
  width: 12px;
  height: 12px;
}

/* text */
.button-text {
  padding-right: 4px;
}
