.list-tab {
  background-color: var(--surface-alt);
  display: flex;
  align-items: center;
  overflow: auto;
}

.list-tab-item {
  height: 40px;
  padding: 0 16px;
  color: var(--text-weak);
}

.list-tab-item p {
  z-index: 1;
}

.selected-tab {
  background-color: var(--surface-brand-alt);
  color: var(--text-white-default);

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
  position: relative;
}

.tab-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--surface-brand-default);
  animation: progress-bar 5s linear forwards;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
