.header-container {
    margin: 0 auto;
    width: calc(100% - 142px);
    height: 29px;

    padding-bottom: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo-container {
    display: flex;
    gap: 8px;
}

.logo-label {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-strong);
}

.day-label {    
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-default);
}