<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./articleList.js"></script>
    <link rel="stylesheet" href="./articleList.css" />
    <title>Document</title>
</head>
<body>
    <div id="articleList-wrapper">
        <div id="article-header-wrapper" class="flex-col-between">
            <div id="media-wrapper inline-tag">
                <button class="btn">전체 언론사</button>
                <button class="btn">내가 구독한 언론사</button>
            </div>
            <div id="icon-wrapper inline-tag flex-row-between">
                <button class="btn view-btn">
                    <img src="/icons/list-view.png" alt="" width="24px" height="24px">
                </button>
                <button class="btn view-btn">
                    <img src="/icons/grid-view.png" alt="" width="24px" height="24px">
                </button>
            </div>
        </div>
        <div id="article-menu-wrapper">

        </div>
        <div id="article-wrapper">
            <div id="article-selection-wrapper">
            </div>
            <div id="article-content-wrapper">
                <div id="content-header-wrapper" class="flex-row">
                    <!-- <button class="btn">+ 구독하기</button> -->
                </div>
                <div id="content-body-wrapper" class="flex-row-between">
                    <aside id="thumbnail-part">
                    </aside>
                    <ul id="article-li-part" class="flex-row-between">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>