.media-contents__container {
    position: relative;
}

.media-contents__category-list {
    height: 40px;
    border-bottom: 1px solid var(--gray100);

    overflow-y: hidden;
    user-select: none;
}
.media-contents__category-item {
    padding: 0 16px;
    white-space: nowrap;
}
.media-contents__category-item--selected {
    position: relative;
    height: 100%;

    background: var(--blue100);
}
.media-contents__category-item-contents {
    position: relative;
    z-index: 2;
    width: 166px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media-contents__category-item-background {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--blue500);

    animation: progress-bar 20s infinite;
}

@keyframes progress-bar {
    from {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.media-contents__category-item-text {
    cursor: pointer;
    word-break: keep-all;
}
.media-contents__category-item-text:hover {
    text-decoration: underline;
}
.media-contents__category-item-text--selected {
    word-break: keep-all;
}

.media-contents__contents-box {
    padding: 26px 24px;
    height: 312px;
}

.media-contents__image-content {
    width: 320px;
    cursor: pointer;
}
.media-contents__image-content img {
    width: 320px;
    height: 200px;
    object-fit: cover;

    transition: 0.3s;
}
.media-contents__image-headline {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

    word-break: keep-all;
}
.media-contents__image-content:hover .media-contents__image-headline {
    text-decoration: underline;
}
.media-contents__image-content:hover img {
    transform: scale(105%);
}

.media-contents__list-item-text {
    cursor: pointer;

    max-width: 532px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.media-contents__list-item:hover .media-contents__list-item-text {
    text-decoration: underline;
}

.media-contents__navigation-button {
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.media-contents__left-button {
    left: -70px;
}
.media-contents__right-button {
    right: -70px;
}

.media--selected {
    font-weight: 700;
    font-size: 16px;

    color: var(--black);
}
.media--unselected {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: var(--gray200);
}