<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채우기</title>
    <link rel="stylesheet" href="./test.css" type="text/css" />
    <link rel="stylesheet" href="../../css/globalfonts.css" type="text/css" />

    <script type="module" src="./progressbutton.js"></script>
</head>
<body>
    <div class="news-list-header">
        <article class="text-button" id="economy" data-index="0">종합/경제</article>
        <article class="text-button" id="broadcast" data-index="1">방송/통신</article>
        <article class="text-button" id="internet" data-index="2">IT</article>
        <article class="text-button" id="englishnews" data-index="3">영자지</article>
        <article class="text-button" id="sportsentertain" data-index="4">스포츠/연예</article>
        <article class="text-button" id="magazine" data-index="5">매거진/전문지</article>
        <article class="text-button" id="region" data-index="6">지역</article>
        <article class="text-button" id="englishnews" data-index="3">영자지</article>
        <article class="text-button" id="sportsentertain" data-index="4">스포츠/연예</article>
        <article class="text-button" id="magazine" data-index="5">매거진/전문지</article>
        <article class="text-button" id="region" data-index="6">지역</article><article class="text-button" id="englishnews" data-index="3">영자지</article>
        <article class="text-button" id="sportsentertain" data-index="4">스포츠/연예</article>
        <article class="text-button" id="magazine" data-index="5">매거진/전문지</article>
        <article class="text-button" id="region" data-index="6">지역</article>
    </div>
</body>
</html>
