.header {
  display: flex;
  gap: 16px;
  align-items: center
}

.logo {
  height: 20px;
  object-fit: contain;

  width: auto;
}

.date {
  color: var(--text-text-default, #5F6E76);

}

.subscribe-button {
  color: var(--text-text-weak, #879298);
  background: var(--surface-surface-alt, #F5F7F9);
  border: 1px solid var(--border-border-default, #D2DAE0);
  padding: 6px;
  display: flex;
  gap: 2px;
  border-radius: 50px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}