.container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: 40px;
  background: var(--surface-surface-alt, #F5F7F9);
  border: 1px solid var(--border-border-default, #D2DAE0)
}

.container::-webkit-scrollbar {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

@keyframes bg-fill {
  from {
    background-position: bottom right;
  }

  to {
    background-position: bottom left;
  }
}


.tab-active {
  gap: 16px;
  position: relative;
  color: var(--text-text-white-default, #FFFFFF);
  background-color: var(--surface-surface-brand-default, #4362D0);
}

.tab-animate {
  background: linear-gradient(to right, var(--surface-surface-brand-default, #4362D0) 50%, var(--surface-surface-brand-alt, #7890E7) 50%);
  background-size: 200% 100%;
  animation: bg-fill 20s infinite;
}

.tab-inactive {
  color: var(--text-text-weak, #879298);

}