@import "../components/content/nav.css";
@import "../components/content/newsList.css";

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 930px;
}

.header_title {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.today {
  margin-left: auto;
  color: #879298;
}

#banner_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.header_selected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;
}

#category button,
#show button {
  border: 0;
  background-color: white;
  font-size: 24px;
  color: #879298;
}

#category button {
  margin-right: 20px;
}
#show button {
  margin-left: 10px;
}

#category button.selected,
#show button.selected {
  font-weight: 700;
  color: black;
  pointer-events: none;
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
}

.leftButton {
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.rightButton {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}
.leftButton,
.rightButton {
  border: 0;
  background-color: white;
  font-size: 50px;
}

#content_wrapper {
  display: flex;
  flex-direction: column;
  width: 930px;
  height: 348px;
  padding: 24px;
  border: 1px solid gray;
}

.content_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  margin-bottom: 12px;
  gap: 16px;
}

.media {
  font-weight: 700;
}

.date {
  color: #51585c;
}

.content_title {
  display: flex;
  flex-direction: row;
}

.subscribe {
  width: 72px;
  height: 24px;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 2px 5px;
  color: #51585c;
}

.imageNews {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.imageNews img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.imageNews_title {
  margin-top: 12px;
}

.newsList_wrapper {
  display: flex;
  flex-direction: row;
}

.newsList_container {
  display: flex;
  flex-direction: column;
}
