.grid {
  height: 388px;
}

.newsGrid_wrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, min(97px));
}

.gridItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.5px solid black;
}
