<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Headlines Animation</title>
    <link rel="stylesheet" href="./animation.css" type="text/css" />
    <script src="./animation.js"></script>
</head>
<body>
<div class="bars-container">
    <div class="left-bar">
      <div class="news-headlines" id="leftNews">
        <div class="headline">Breaking News 1: Lorem ipsum dolor sit amet</div>
      </div>
    </div>
    <div class="right-bar">
      <div class="news-headlines" id="rightNews">
        <div class="headline">Latest Update 1: Duis aute irure dolor in reprehenderit</div>
      </div>
    </div>
</div>
</body>
</html>