.contentList {
  display: flex;
  flex-direction: row;
  width: 930px;
  height: 40px;
  background-color: #f5f7f9;
  align-items: center;
}

.contentList li {
  list-style: none;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cover {
  position: absolute;
}

.contentList ul:hover {
  text-decoration: underline;
}

.contentList li.selected {
  width: 166px;
  color: white;
  cursor: default;
  text-decoration: none;
  pointer-events: none;
  position: relative;
}

.contentList ul.selected span {
  z-index: 1;
}

ul.selected .progress {
  margin-left: auto;
  display: block;
}
