<html>
<head>
    <style>
        .popup {
          width: 200px; /* 팝업 너비 */
          height: 60px; /* 팝업 높이 */
          background-color: #007bff; /* 배경 색상 파랑 */
          color: white; /* 글자 색상 흰색 */
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-family: Arial, sans-serif;
          font-size: 14px;
        }
      </style>
  <title>구독 완료</title>
</head>
<body>
    <popup>내가 구독한 언론사에 추가되었습니다.</popup>
</body>
</html>