.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .gridButton{
    margin-left: 100px;
  }
  .icon {
    width: 24px;
    height: 24px;
    fill: black; 
  }
  
  .button.active .icon {
    fill: blue; 
  }
  
  
