<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채우기</title>
    <link rel="stylesheet" href="./채우기.css" type="text/css" />
    <script type="module" src="./채우기.js"></script>
</head>
<body>
<div class="news-list-container">
    <div class="news-list-header">
        <article class="text-button">데일리안</article>
        
    </div>
    <div class="news-press-container">
        <div class="news-press-img">
            <img src="../../image/asset 1 1.svg"/>
        </div>
        <div class="news-press-edit">2024.02.14. 18:53 편집</div>
        <div class="news-press-subscribe" >
            <img src="../../icons/Subscribe.svg"/>
        </div>

    </div>
    <div class="news-main-container">
        <div class="news-sub-container_left">
            <div class="news-image-container">
                <img src="../../image/Thumbnail.png" alt="기사 이미지">
            </div>
            <div class="news-title-container">
                <div class="news-title">또 국민연금의 몽니…현대百 지주사 불발</div>
            </div>
        </div>
        <div class="news-sub-container_right">
            <div class="news-sub-titles">"위스키 사려고 이틀 전부터 줄 섰어요"</div>
            <div class="news-sub-titles">"러, 젤렌스키 유럽 간 새 루한스크서 집중 공세"</div>
            <div class="news-sub-titles">"“애들 키우려면 안먹일수도 없고”…2000원대 수입 ‘이것’ 사야하나"</div>
            <div class="news-sub-titles">"3.5조원 AI분야 정책금융 신설한다···로봇·자율주행 등 전분야 지원"</div>
            <div class="news-sub-titles">"[단독] "매니저라 불러주세요" HMM, 직급체계 5단계→2단계로 간소화"</div>
            <div class="news-sub-titles">""저가 매수 기회"…SK하이닉스 순매수 1위 [주식 초고수는 지금]"</div>
        </div>
    </div>
</div>
</body>
</html>
