@import "../components/components.css";
@import "../views/views.css";

@import "../../styles/style.css";

html, body {
    margin: 0 auto;
    width: 1280px;
    height: 100%;
}

button {
    border: 0px;
    background-color: transparent;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.app {
    width: 100%;
    height: 100%;
}
