<!doctype html>
  <head>
    <meta charset="UTF-8" />
    <title>NewsStand</title>
    <link rel="stylesheet" href="../../styles/style.css" />
  </head>
  <body>
    <div class="content-container">
      <div class="main-container">
        <div class="title-container">
            <div>
              <img src = "../../assets/icons/newspaper.svg" />
              <span>뉴스스탠드</span>
            </div>
            <div>2023. 02. 10. 금요일</div>
        </div>
        <div class="headline-container">

        </div>
        <div class="menu-container">

        </div>
        <div class="news-container">

        </div>
      </div>
    </div>
    <script type="module" src="newsstand.js"></script>
  </body>
</html>