.press-category-container {
    height: 40px;
    background-color: var(--color-surface-alt);
    border: var(--border-default);
}

.press-category-button {
    height: 100%;
    color: var(--color-text-weak);
    padding: 0px 16px 0px 16px;
    margin: 0px;

    position: relative;
    cursor: pointer;
    
    z-index: 0;
}

.press-category-button-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-surface-brand-default);
    z-index: -100;
}

.press-category-button-progress.selected {
    animation: widthAnimation 20s linear infinite;
}

@keyframes widthAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.press-category-span-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}