.chip-button {
    background-color: var(--color-surface-alt);
    border: var(--border-default);

    border-radius: 50px;

    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    color: var(--color-text-weak);

    width: max-content;
    height:12px;

    display: flex;
    justify-content: center;

    padding: 5px;
}

.chip-button-icon {
    width: 12px;
    height: 12px;
}
