@import "./pressCategory/pressCategory.css";
@import "./pressInfo/pressInfo.css";
@import "./pressNews/pressNews.css";

.news-container {
    width: 100%;
    height: 388px;

    display: flex;
    align-items: center;
}

.news-content-container {
    margin:0 auto;
    width:calc(100% - 142px);
    height:100%;
}

.news-category-container {
    height: 40px;
    background-color: var(--color-surface-alt);
    border: var(--border-default);
}

.news-category-button {
    height: 100%;
    color: var(--color-text-weak);
    text-align: center;

    text-transform: uppercase;

    position: relative;
    cursor: pointer;
    
    z-index: 0;
}

.news-category-button-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 1s ease;

    z-index: -100;
}