.newsViewer {
  display: flex;
  flex-direction: column;

  height: 388px;

  border: 1px solid var(--gray-100);
  box-sizing: border-box;
}

.categoryFilter {
  display: flex;

  width: 100%;

  border-bottom: 1px solid var(--gray-100);
  background-color: var(--gray-50);
  box-sizing: border-box;
}

.categoryFilter > li {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  padding: 0 16px 0 16px;

  box-sizing: border-box;

  cursor: pointer;
}

.categoryFilter > .selected {
  justify-content: space-between;

  position: relative;
  background-color: transparnet;

  width: 166px;

  color: white;
  font-weight: 600;
}

.categoryFilter > li:not(.selected):hover {
  text-decoration: underline;
}

.categoryFilter span {
  z-index: 1;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  appearance: none;
}

.progress::-webkit-progress-bar {
  background: var(--blue-100);
}

.progress::-webkit-progress-value {
  background: var(--blue-500);
}

.progressTransition {
  &::-webkit-progress-value {
    transition: width 1s linear;
  }
}

.pageInfo {
  font-size: 12px;
}

.newsLength {
  color: var(--white-weak);
}

.contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px;
}

.companyInfo {
  display: flex;
  align-items: center;
  gap: 16px;

  height: 24px;

  font-size: 12px;
}

.companyInfo > img {
  width: auto;
  height: 20px;
}

.articleInfo {
  display: flex;
  gap: 32px;
}

.articleInfo > img {
  width: 320px;
  height: 200px;
}

.mainNews {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 320px;

  color: var(--black);

  &:hover {
    img {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }
}

.mainNews > div {
  width: 320px;
  height: 200px;

  overflow: hidden;
}

.mainNews > div > img {
  width: 320px;
  height: 200px;

  transform: scale(1);
  transition: transform 0.3s;
}

.mainNews > p {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.subNews {
  overflow: hidden;

  color: var(--gray-500);
}

.subNews > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subNews > ul > li {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.subNews > ul > p {
  font-size: 14px;
  color: var(--gray-200);
}

.newsButton {
  width: 24px;
  height: 40px;

  border: none;
  padding: 0;

  background: none;
}

.newsButton.prev {
  position: absolute;
  top: 50%;
  left: -47px;

  transform: translate(-50%, 50%);
}

.newsButton.next {
  position: absolute;
  top: 50%;
  right: -47px;

  transform: translate(50%, 50%);
}

.newsButton > img {
  width: 24px;
  height: 40px;
}

.hide {
  display: none;
}
