.border {
    border: 1px solid var(--gray100);
    box-sizing: border-box;
}

.clickable {
    cursor: pointer;
}
.clickable:hover {
    text-decoration: underline;
}

.flexbox__space-between--center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox__flex-start--center {
    display: flex;
    align-items: center;
}
.flexbox__flex-start--start {
    display: flex;
    align-items: flex-start;
}
.flexbox__column-direction {
    display: flex;
    flex-direction: column;
}

.gap8 {
    gap: 8px;
}
.gap16 {
    gap: 16px;
}
.gap24 {
    gap: 24px;
}
.gap32 {
    gap: 32px;
}
.gap40 {
    gap: 40px;
}
.gap48 {
    gap: 48px;
}

.button__container {
    border: 1px solid var(--gray100);
    box-sizing: border-box;
    padding: 5px 6px;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;

    cursor: pointer;
}
.button__container:hover {
    border: 1px solid var(--gray300);
}
.button__container:hover .button__text {
    color: var(--gray500);
}

.snackbar__wrapper {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
}
.snackbar__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 16px 24px;
    background-color: var(--blue500);

    box-shadow: var(--shadow);
}

.alert__wrapper {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
}
.alert__container {
    width: 320px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid var(--gray100);
    box-sizing: border-box;

    box-shadow: var(--shadow);
}
.alert__contents {
    padding: 24px;

    display: flex;
    justify-content: center;
    text-align: center;

    background-color: var(--white);
}
.alert__buttons {
    height: 48px;
    background-color: var(--gray50);

    display: flex;
    align-items: center;

    border-top: 1px solid var(--gray100);
}
.alert__button {
    flex: 1;
    text-align: center;
    cursor: pointer;
}
.alert__button:hover {
    text-decoration: underline;
}
.alert__button--left {
    border-right: 1px solid var(--gray100);
}
