.border {
    border: 1px solid var(--gray100);
    box-sizing: border-box;
}

.flexbox__space-between--center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox__flex-start--center {
    display: flex;
    align-items: center;
}
.flexbox__column-direction {
    display: flex;
    flex-direction: column;
}

.gap8 {
    gap: 8px;
}
.gap16 {
    gap: 16px;
}
.gap24 {
    gap: 24px;
}
.gap32 {
    gap: 32px;
}
.gap40 {
    gap: 40px;
}
.gap48 {
    gap: 48px;
}