.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
}

.logo {
  display: flex;
  gap: 8px;

  color: var(--black);

  cursor: pointer;
}

.date {
  font-size: 14px;
}
