:root {
  --grayscale-white-alt: rgba(255, 255, 255, 0.7);
  --grayscale-white: #ffffff;
  --grayscale-50: #f5f7f9;
  --grayscale-100: #d2dae0;
  --grayscale-200: #879298;
  --grayscale-300: #6e8091;
  --grayscale-400: #5f6e76;
  --grayscale-500: #4b5966;
  --grayscale-black: #14212b;

  --blue-100: #7890e7;
  --blue-500: #4362d0;

  --border-default: #d2dae0;
  --border-bold: #6e8091;

  --surface-alt: #f5f7f9;
  --surface-default: #ffffff;
  --surface-brand-default: #4362d0;
  --surface-brand-alt: #7890e7;

  --text-point: #4362d0;
  --text-default: #5f6e76;
  --text-white-default: #ffffff;
  --text-weak: #879298;
  --text-strong: #14212b;
  --text-bold: #4b5966;
}
