a {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
  min-width: max-content;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: default;
  pointer-events: none;
}

body {
  font-family: "Pretendard", cursive, sans-serif;
  padding: 0;
}

svg {
  width: 24px;
  height: 24px;
  color: currentColor;
}
