/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/* Header */


header {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 930px;
    height: 29px;
}


#title {
    display: flex;
    justify-content: center;
    gap: 8px;
}


.logoImage {
    cursor: pointer;
}


/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/* NewsTicker */


#newsTicker {
    display: flex;
    justify-content: center;
    margin-top: 58px;
}


.newsTicker {
    display: flex;
    justify-content: space-between;
    width: 930px;
    height: 49px;
    gap: 8px;
}


.newsTickerEach {
    border: 1px;
    width: 461px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--grayscale-50);
    border-color: var(--border-default);
    border-style: solid;
    cursor: pointer;
}


.newsTickerEach span {
    margin: 5%;
}


/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/* TopAndViewer */


#TopAndViewer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.TopAndViewer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 930px;
    height: 24px;
}


.TapButton {
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 22px;
    gap: 24px;
}


.ViewerButton {
    display: flex;
    justify-content: space-between;
    width: 56px;
    height: 24px;
    gap: 8px;
}


.listViewIcon {
    cursor: pointer;
}


.gridViewIcon {
    cursor: pointer;
}


/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/* NewsList */


main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


#NewsList {
    width: 930px;
    height: 388px;
    border: 1px;
    border-color: var(--border-default);
    border-style: solid;
}


#NewsList ul {
    width: auto;
    height: 40px;
    display: flex;
    background-color: var(--surface-alt);
}


.notselectNews {
    width: fit-content;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    color: var(--grayscale-200);
}

.selectNews {
    width: 166px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--surface-brand-alt);
    padding: 0px 16px;
}