.dialog {
  min-width: 320px;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  border: 1px solid var(--border-default);
}

.dialog > p {
  text-align: center;
  padding: 24px;
  border: 1px solid var(--border-default);
}

.dialog-buttons {
  display: flex;
  justify-content: space-around;
}

.dialog-button {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-default);
  color: var(--text-default);
  background-color: var(--surface-alt);
}
