.content-container {
    width: calc(100% - 208px);
    height: 100%;
    background-color: darkkhaki;
    margin: 0 auto;
    
    display: flex;
    align-items: end;
}

.main-container {
    background-color: darkgreen;
    width: 100%;
    height: calc(100% - 142px);
}

.title-container {
    margin: 0 auto;
    width: calc(100% - 142px);
    height: 29px;
    background-color: blueviolet;

    padding-bottom: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo-container {
    display: flex;
    gap: 8px;
}

.logo-label {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--color-text-strong);
}

.day-label {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-default);
}

.headline-container {
    margin: 0 auto;
    width: calc(100% - 142px);
    height: 49px;
    background-color:chocolate;

    padding-bottom: 32px;
    
    display: flex;
    gap: 8px;
}

.menu-container {
    margin: 0 auto;
    width: calc(100% - 142px);
    background-color: aliceblue;

    padding-bottom: 24px;

    display: flex;
    justify-content: space-between;
}

.subscribe-menu-container {
    display: flex;
    gap: 24px;
}

.subscribe-menu-button {
    border: 0px;
    background-color: transparent;
}

