.alert {
    width: 360px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow);
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

.alert-text-container {
    color: black;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-button-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7f9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.alert-button-container::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #e0e0e0;
    left: 50%;
    transform: translateX(-50%);
}

.alert-button-wrap {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.alert-button:hover {
    text-decoration: underline;
}

.yes-btn {
    color: #5f6e76;
}

.no-btn {
    color: #14212b;
}
