.button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid gainsboro;
    cursor: pointer;
    padding: 6px 0px 6px 0px;
    font-size: 12px;
}

.button-left-icon {
    width: 12px;
    height: 12px;
    padding-right: 2px;
}
