.adjacent-button {
  z-index: 1;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 40px;
  height: 40px;
  padding: 10px;
  color: var(--border-bold);

  display: flex;
  justify-content: center;
  align-items: center;

  display: inline-block;
  transform-origin: center;
}

.adjacent-button > svg {
  height: 40px;
  width: 40px;
}

.adjacent-button.prev {
  left: -50px;
  transform: rotate(180deg);
}

.adjacent-button.next {
  right: -50px;
}
