.newsList {
  list-style: none;
  margin-left: 32px;
}

.newsList li {
  margin-bottom: 16px;
  cursor: pointer;
}

.newsList :hover {
  text-decoration: underline;
}

.newsList_footer {
  color: #879298;
  margin: 0;
}
