.box {
  padding: 16px;
  background-color: #F5F7F9;
  border: 1px solid #D2DAE0;
}

@keyframes rotate {
  0% {
    transform: translateY(100%) rotateX(90deg) scaleY(0);
  }

  20% {
    transform: translateY(0px) rotateX(0deg) scaleY(1);
  }

  80% {
    transform: translateY(0px) rotateX(0deg) scaleY(1);
  }

  100% {
    transform: translateY(-100%) rotateX(-90deg) scaleY(0);
  }
}



.link {
  text-decoration: none;
  color: #5F6E76;

}

.animation-box {
  animation: rotate 5s linear infinite;
  display: inline-block;
}

.link:hover {
  text-decoration: underline;
  animation-play-state: paused;
}