.container {
  display: flex;
  justify-content: space-between;

}


.icons-box {
  display: flex;
  gap: 8px;
  justify-content: end;
}

.toggler-box {
  display: flex;
  gap: 24px;
  justify-content: start;
}

.toggler {
  cursor: pointer;
}

.toggler-active {
  color: var(--text-text-strong, #14212B);
}

.toggler-inactive {
  color: var(--text-text-weak, #879298);
}