.container {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 32px;
}

.news-preview-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.news-preview {
  list-style-type: none;
  color: var(--text-text-bold, #4B5966);
}

.main-news-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-news-img {
  width: 100%;
  aspect-ratio: 16 / 10;
}

.main-news-title {
  color: var(--text-text-strong, #14212B);
}