.container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logo {
  height: 20px;
}

.last-updated {
  color: #5F6E76;
}

.follow-button {
  background: var(--surface-surface-alt, #F5F7F9);
  border: 1px solid var(--border-border-default, #D2DAE0);
  border-radius: 50px;
  padding: 0px 6px 0px 6px;
  gap: 2px;
  cursor: pointer;
  height: 24px;
  color: #879298;
}

.follow-button:hover {
  background: #a3a3a4;
}