:root {
    --font-primary: sans-serif;
    --font-secondary: serif;

    /* set base values */
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;

    /* type scale */
    --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1em / var(--text-scale-ratio));
    --text-md: calc(1em * var(--text-scale-ratio));
    --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
}

body {
    margin: 0;
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--color-text);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--white);
    color: var(--black);
}

.light {
    --white-alt: rgba(255, 255, 255, 0.7);
    --white: #ffffff;
    --gray50: #f5f7f9;
    --gray100: #d2dae0;
    --gray200: #879298;
    --gray300: #6e8091;
    --gray400: #5f6e76;
    --gray500: #4b5966;
    --black: #14212b;

    --blue100: #7890e7;
    --blue500: #4362d0;

    --shadow: 0px 2px 18px 0px #14212b14;
}

.dark {
    --white: #14212b;
    --black: #ffffff;
    --gray50: #4b5966;
    --gray100: #5f6e76;
    --gray200: rgba(255, 255, 255, 0.7);
    --gray300: rgba(255, 255, 255, 0.7);
    --gray400: #d2dae0;
    --gray500: #f5f7f9;
}

h1,
h2,
h3,
h4,
form legend {
    margin: 0;
    color: var(--color-text-heading);
    margin-bottom: var(--space-xxs);
    line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1,
.text--xxl {
    font-size: var(--text-xxl);
}

h2,
.text--xl {
    font-size: var(--text-xl);
}

h3,
.text--lg {
    font-size: var(--text-lg);
}

h4,
.text--md {
    font-size: var(--text-md);
}

.text--sm,
small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}
