.news-box-container {
    width: 100%;
    height: 100%;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* category text */
.category-box-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.category-box-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4362d0;
    transition: width 1s linear;
}

.category-text {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    list-style-type: none;
    padding: 12px 16px;
    z-index: 999;
}

/* auto-rolling-news */
.auto-rolling-news-container {
    position: relative;
    width: 100%;
    height: 32px;
    font-size: 0.875rem;
    letter-spacing: -1px;
    padding: 7px 15px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    border: 1px solid #d1d5db;
}

.auto-rolling-news-title {
    font-weight: bold;
    float: left;
    padding-right: 10px;
}

.auto-rolling-wrap {
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.auto-rolling-news-container ul {
    list-style: none;
}

.auto-rolling-news-container li {
    position: absolute;
    top: -36px;
    left: 0;
}

.auto-rolling-news-container li.prev {
    top: -36px;
    transition: top 0.5s ease;
}

.auto-rolling-news-container li.current {
    top: 0;
    transition: top 0.5s ease;
}

.auto-rolling-news-container li.next {
    top: 36px;
}

.auto-rolling-news-container a {
    text-decoration: none;
    overflow: hidden;
    color: #5f6e76;
}

.auto-rolling-news-container a:hover {
    text-decoration: underline;
}

/* list-news */
.list-news-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    height: 100%;
    width: auto;
    background-color: #d2dae0;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.list-news-body {
    display: flex;
    height: 90%;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}

.list-news-left-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 2%;
}
.list-news-left-top {
    display: flex;
    column-gap: 10px;
    width: 100%;
    height: 70px;
    float: left;
    align-items: baseline;
}

.list-news-left-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 210px;
}

.list-news-left-bottom {
    width: 100%;
    height: auto;
}

.list-news-right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 60%;
    padding: 2%;
    padding-top: calc(2% + 70px);
}

.news-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

.news-content:hover {
    text-decoration: underline;
}

/* 스타일 추가 */
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;
}

.left-btn {
    left: -100px;
}

.right-btn {
    right: -100px;
}
