@import "./components/components.css";
@import "./foundation/foundation.css";
@import "./views/views.css";

html, body {
    margin: 0 auto;
    width: 1280px;
    height: 100%;
}

button {
    border: 0px;
    background-color: transparent;
}

.app {
    width: 100%;
    height: 100%;
}

