.hoverInRecentNews>.recentArticleTitle {
    text-decoration: underline;
}

.currentDom_left {
    top: 0px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.currentDom_right {
    top: 0px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.futureDom_left {
    top: 17px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.futureDom_right {
    top: 17px;
    max-width: 360px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
}

.futureDomStart {
    animation-name: futureDomStart;
    animation-duration: 1s;
}

.currentDom_Start {
    animation-name: currentDomStart;
    animation-duration: 1s;
}

@keyframes futureDomStart {
    from {
        top: 17px;
    }

    to {
        top: 0px;
    }
}

@keyframes currentDomStart {
    from {
        top: 0px;
    }

    to {
        top: -17px;
    }
}
